{{#if addNewQuestion}}
<h1>Ask Away!</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Author</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="ask">Question</label>
          {{input value=ask id="ask"}}
        </div>

        <button {{action 'save1'}}>Ask it!</button>
      </form>
    </div>
 {{else}}
    <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
