<h2>{{question.author}}</h2>
<p>{{trebecSays}}</p>

{{#if isAnswerShow}}
  <div class="answer">
    {{#each question.answer as |answer|}}
      <li>
      {{answer.answer}}
    </li>
    {{/each}}
  </div>
  {{answer-question question=question answer="answer"}}
  <button {{action 'answerHide'}}> Hide Answer </button>
{{else}}
  <button {{action 'answerShow'}}>{{question-popularity question}}

 Show Answer {{question-popularity question}}</button>
{{/if}}
